.ar { text-align: right; }
.bb { border-bottom: 1px solid #f4f5f6; }
.mbs { margin-bottom: 1rem; }
.mbz { margin-bottom: 0; }
.mts { margin-top: 1rem; }
.mtm { margin-top: 2rem; }


.inline { display: inline-block; }
