* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 2rem;
}

body > header {
    padding: 2rem 1rem 1rem;

    h1 {
        font-size: 3rem;
    }
}

body > footer {
    padding: 2rem 1rem 1rem;
    font-size: small;
}

main {
    padding: 1rem;
    min-height: 75vh;
}

a {
    text-decoration: none;
}

// helpers

.padding {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.right {
    text-align: right;
}

// components

.grid {
    display: flex;
}

.grid > .cell {
    flex: 1;
}
